<app-header></app-header>

<div id="one">
  <div class="containe">
    <div class="row">
      <div class="col-md-2 nav-col">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item" *ngIf="!userIsAuthenticated">
            <a class="nav-link" routerLink="/login">login</a>
          </li>
          <li class="nav-item" *ngIf="userIsAuthenticated">
            <a class="nav-link" routerLink="/login">talk to a pro</a>
          </li>
        </ul>
      </div>
      <div class="col-md-10 details-col">
        <h1>welcome <span *ngIf="userIsAuthenticated">{{userName}}</span> to nigeria's first online pregnancy forum...</h1>
        <p>Pregnancy village is Nigeria's first online community platform for pregnant women.
          The platform allows women from anywhere share their experience during pregnancy,
          get access to doctors and specialist, and a market place to buy and sell babies stuffs
        </p>
        <button class="btn"  routerLink="/blog/new">create new blog post </button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 nav-col2">
        <ul class="navbar-nav">
          <li class="nav-item" *ngIf="!userIsAuthenticated">
            <a class="nav-link" routerLink="/register">register</a>
          </li>
          <li class="nav-item" *ngIf="userIsAuthenticated">
            <a class="nav-link" routerLink="/dashboard">{{userName}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">market place</a>
          </li>
          <li *ngIf="userIsAuthenticated">
            <button mat-button (click)="onLogout()">Logout</button>
          </li>
        </ul>
      </div>
      <div class="col-md-10 details-img">
        <img src="assets/images/preg3-blue.jpg" alt="">
      </div>
    </div>
  </div>
</div>


<div id="two" class="py-5">
  <div class="containe">
    <div class="row">
      <mat-spinner *ngIf="isLoading"></mat-spinner>
      <div class="col-md-2 pad-col"></div>
      <div class="col-md-10">
        <h1>forum</h1>
        <h2>get all posts</h2>

        <div class="container cancel" multi="true" *ngIf="posts.length > 0 && !isLoading">
          <div class="row omg" *ngFor="let post of posts">
            <div class="col-md-7">
              <h4>{{post.title}}</h4>
              <span>post by:. {{post.creatorName}}</span>
              <p>{{post.content | slice:0:250}} <span style="color: #000; font-weight: 600;">...</span></p>
              <button class="btn" [routerLink]="['/show', post.id]">learn more</button>
            </div>
            <div class="col-md-5">
              <img [src]="post.imagePath" [alt]="post.title" class="img-responsive">
            </div>
          </div>
          <p class="info-text mat-body-1" *ngIf="posts.length <= 0 && !isLoading">No posts added yet!</p>
        </div>

        <br> <br>
        <mat-paginator [length]="totalPosts"
          [pageSize]="postsPerPage"
          [pageSizeOptions]="pageSizeOptions"
          (page)="onChangedPage($event)"
          *ngIf="posts.length > 0">
        </mat-paginator>
        <p class="info-text mat-body-1" *ngIf="posts.length <= 0 && !isLoading">No posts added yet!</p>

      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
